<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title size="medium">Panneaux de signalisation</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-label>Les catégoris de panneaux</ion-label>

  <ion-grid>
    <ion-row>
      <ion-col size="large" *ngFor="let panneau of panneaux" size="4">
        <div class="acc_panneau">
          <ion-img class="acc_img" src="{{panneau.src}}"></ion-img>
          <ion-card-subtitle>{{panneau.title}}</ion-card-subtitle>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
