<ion-content  [fullscreen]="true">
  <ion-row>
    <ion-col  size="2"></ion-col>
    <ion-col  size="8">
      <ion-img class="img-logo" src="assets/images/LOGO.png"></ion-img>
    </ion-col>
  </ion-row>

    <h6 style="text-align: center;"><b>Panneaux de circulation</b></h6>

    <div class="flex">
      <ion-card class="ion-text-center">
        <br>
        <ion-grid>
          <ion-row>
            <ion-col size="large" size="6" *ngFor="let panneau of panneaux">
              <div>
                <a (click)="showConfirm(panneau)">
                <ion-img src="{{ panneau.image }}"></ion-img>
                <ion-card-subtitle style="color: white;">{{panneau.libelle}}</ion-card-subtitle>
              </a>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
</ion-content>
