ion-content {
 --background: linear-gradient(#FFF, #F9A732);

}
ion-toolbar{
  --ion-background-color: transparent;
  --opacity: 0;
}

ion-card{
  --ion-background-color: #FD9F19;
}

.acc_img{
  float: right;
  height: 15px;
  width: 50px;
}

.img-logo{
  margin-top: 50px;
  margin-left: 40px;
  width: 100px;
  height: 100px;
}

.buttonAnnuler{
  background-color: red;
  color: black;
}

